<% include partials/header %>
 
 <h1>this is the homepage</h1>
<img src="https://www.google.com.ng/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwje2KaUm4TXAhVRaFAKHTv3CfUQjRwIBw&url=http%3A%2F%2Fwww.imgrum.org%2Fuser%2Fyorubagospelmusic%2F1234446252%2F1185022311813846919_1234446252&psig=AOvVaw1OkQLxRb6HOSdytuP2824a&ust=1508760939626925">
<% include partials/footer %>