<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase(); %> </h1>
<% if(thingVar.toLowerCase === 'rusty'){ %>
  <p>Good choice! Rusty is the best!!!</p>
<% } else {%>
  <p> Bad choice you should have said Rusty</p>
  <% } %>
<p> p.s we dont know how!!!</p>

<% include partials/footer %>